{% extends 'event/index.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <p>{{ event.id }}</p>
                <p><strong><u>{{ event.title }}</u></strong></p>
                <p>{{ event.datetime|date('M d, Y H:i:s') }}
                <p>{{ event.venue }}</p>
                <p>{{ event.type }}</p>
                <p>{{ event.description }}</p>
                <p>{{ event.report }}</p>
            </div>
        </div>
    </div>
{% endblock %}
