{% extends 'base.html.twig' %}

{% block title %} {{ project.title }} | {{ parent() }} {% endblock %}

{% block body %}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1>Project</h1>
        <a href="{{ url('projectcreate') }}"> Add</a>
        <a href="{{ url('projectedit' , {'slug': project.slug}) }}"> Update</a>
        <a href="{{ url('projectdelete' , {'slug': project.slug}) }}"> Delete</a>
        <p>{{ project.id }}</p>
        <p><strong><u>{{ project.title }}</u></strong></p>
        <p>{{ project.type }}</p>
        <p>{{ project.description }}</p>
        <p>{{ project.detail }}</p>
        <p><a href="{{ path('exhibitionshow', {'slug': project.stall.exhibition.slug}) }}">Locus {{ project.stall.exhibition.year|date('Y') }} - {{ project.stall.id }}</a></p>
        <p><a href="{{ path('themeshow', {'slug': project.theme.slug}) }}">{{ project.theme.name }}</a></p>
      </div>
      <div class="members">
        <h3>{{ project.members|length }}
        {% if project.members|length == 1 %}
          member
        {% else %}
          members
        {% endif %}</h3>
        <p>{% for member in project.members %}
          <a href="{{ path('membershow', {'username': member.username}) }}">{{ member.username }}</a>,
        {% endfor %}</p>
      </div>
      <div class="events">
        <h3>Competiting in {{ project.events|length }}
        {% if project.events|length == 1 %}
          event
        {% else %}
          events
        {% endif %}</h3>
        <p>{% for event in project.events %}
          <a href="{{ path('eventshow', {'slug': event.slug}) }}">{{ event.title }}</a>,
        {% endfor %}</p>
      </div>
    </div>
  </div>
{% endblock %}
