{% extends 'base.html.twig' %}

{% block title %} Notices | {{ parent() }} {% endblock %}

{% block body %}
  {{ parent() }}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1><span>Notices {{ notices|length }}</span></h1>
        <h4><a href="{{ url('noticecreate') }}"><small> Add</small></a></h1>
      </div>
      <table>
        <tr id="header">
          <td>ID</a></td>
          <td>Date</a></td>
          <td>Subject</a></td>
          <td>Content</a></td>
          <td>Publisher</a></td>
        </tr>
        {% for notice in notices %}
          <tr id="data">
            <td>{{ notice.id }}</td>
            <td>{{ notice.date|date('M d, Y') }}</td>
            <td><a href="{{ url('noticeshow' , {'slug': notice.slug}) }}"><strong>{{ notice.subject }}</strong></a></td>
            <td>{{ notice.content }}</td>
            <td>{{ notice.publisher.username }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
