{% extends 'base.html.twig' %}

{% block title %} {{ notice.subject }} | {{ parent() }} {% endblock %}

{% block body %}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1>Notice</h1>
        <a href="{{ url('noticecreate') }}"> Add</a>
        <a href="{{ url('noticeedit' , {'slug': notice.slug}) }}"> Update</a>
        <a href="{{ url('noticedelete' , {'slug': notice.slug}) }}"> Delete</a>
        <p>{{ notice.id }}</p>
        <p>{{ notice.date|date('M d, Y') }}</p>
        <p><strong><u>{{ notice.subject }}</u></strong></p>
        <p>{{ notice.content }}</p>
        <p><a href="{{ path('membershow', {'username': notice.publisher.username}) }}">{{ notice.publisher.username }}</p>
      </div>
    </div>
  </div>
{% endblock %}
