{% extends 'base.html.twig' %}

{% block title %} Privileges | {{ parent() }} {% endblock %}

{% block body %}
  {{ parent() }}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1><span>Privileges {{ privileges|length }}</span></h1>
        <h4><a href="{{ url('privilegecreate') }}"><small> Add</small></a></h1>
      </div>
      <table>
        <tr id="header">
          <td>ID</a></td>
          <td>Name</a></td>
        </tr>
        {% for privilege in privileges %}
          <tr id="data">
            <td>{{ privilege.id }}</a></td>
            <td><a href="{{ url('privilegeshow' , {'slug': privilege.slug}) }}"><strong>{{ privilege.name }}</strong></a></td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
