{% extends 'base.html.twig' %}

{% block title %} Privileges | {{ parent() }} {% endblock %}

{% block body %}
    {{ parent() }}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1><span>Privileges</h1>
                <a href="{{ url('privilegecreate') }}">Create</a>
            </div>
            <table>
                <tr id="header">
                    <td>ID</a></td>
                    <td>Name</a></td>
                </tr>
                {% for privilege in privileges %}
                <tr id="data">
                    <td>{{ privilege.id }}</a></td>
                    <td><a href="{{ url('privilegeshow' , {'slug': privilege.slug}) }}"><strong>{{ privilege.name }}</strong></a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
