{% extends 'base.html.twig' %}

{% block title %} {{ privilege.name }} | {{ parent() }} {% endblock %}

{% block body %}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1>Privilege</h1>
        <a href="{{ url('privilegecreate') }}"> Add</a>
        <a href="{{ url('privilegeedit' , {'slug': privilege.slug}) }}"> Update</a>
        <a href="{{ url('privilegedelete' , {'slug': privilege.slug}) }}"> Delete</a>
        <p>{{ privilege.id }}</p>
        <p><strong><u>{{ privilege.name }}</u></strong></p>
      </div>
      <div class="members">
        <h3>{{ privilege.members|length }}
        {% if privilege.members|length == 1 %}
          member
        {% else %}
          members
        {% endif %}</h3>
        <p>{% for member in privilege.members %}
          <a href="{{ url('membershow', {'username': member.username}) }}">{{ member.username }}</a>,
        {% endfor %}</p>
      </div>
    </div>
</div>
{% endblock %}
