{% extends 'base.html.twig' %}

{% block title %} {{ meeting.slug }} | {{ parent() }} {% endblock %}

{% block body %}
  <div id="wrapper">
    <div id="container">
      <div id="welcome">
        <h1>Meeting</h1>
        <a href="{{ url('meetingcreate') }}"> Add</a>
        <a href="{{ url('meetingedit' , {'slug': meeting.slug}) }}"> Update</a>
        <a href="{{ url('meetingdelete' , {'slug': meeting.slug}) }}"> Delete</a>
        <p>{{ meeting.id }}</p>
        <p><strong><u>{{ meeting.datetime|date('M d, Y H:i') }}</u></strong></p>
        <p>{{ meeting.venue }}</p>
        <p>{{ meeting.agenda }}</p>
        <p>{{ meeting.minute }}</p>
      </div>
      <div class="attendees">
        <h3>{{ meeting.attendees|length }}
        {% if meeting.attendees|length == 1 %}
          attendee
        {% else %}
          attendees
        {% endif %}</h3>
        <p>{% for attendee in meeting.attendees %}
          <a href="{{ url('membershow', {'username': attendee.username}) }}">{{ attendee.username }}</a>,
        {% endfor %}</p>
      </div>
    </div>
  </div>
{% endblock %}
