{% extends 'base.html.twig' %}

{% block title %} {{ meeting.datetime|date('M d, Y H:i') }} | {{ parent() }} {% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <a href="{{ url('meetingedit' , {'slug': meeting.slug}) }}"><strong>Edit</strong></a>
            <a href="{{ url('meetingdelete' , {'slug': meeting.slug}) }}"><strong>Delete</strong></a>
            <div id="welcome">
                <h1>Meeting</h1>
                <p>{{ meeting.id }}</p>
                <p><strong><u>{{ meeting.datetime|date('M d, Y H:i') }}</u></strong></p>
                <p>{{ meeting.venue }}</p>
                <p>{{ meeting.agenda }}</p>
                <p>{{ meeting.minute }}</p>
            </div>
            <div class="attendees">
            <h3>{{ meeting.attendees|length }}
            {% if meeting.attendees|length == 1 %}
            attendee
            {% else %}
            attendees
            {% endif %}</h3>
            <p>{% for attendee in meeting.attendees %}
            {{ attendee.username }},
            {% endfor %}</p>
            </div>
        </div>
    </div>
{% endblock %}
